{% extends 'base.html' %}

{% block title %} Profile page for {{ user.first_name }} {{ user.last_name }} {%
endblock %}


{% block content %}
<!-- got profile page - used for testing  -->
<a href="/users">Home</a><br>
<img src="{{user.image_url}}"
     alt="profile image for {{ user.first_name }} {{ user.last_name }} "
     style="width: 200px;">

<h1>{{user.first_name}} {{user.last_name}}</h1>

<form>
  <button type="submit" formaction="/users/{{user.id}}/edit"
          formmethod="get">Edit</button>
  <button type="submit" formaction="/users/{{user.id}}/delete"
          formmethod="post">Delete</button>
</form>

<h1> Posts </h1>

{% for post in posts %}
<ul>
  <li>
    <a href="/posts/{{post.id}}"> {{ post.title }}</a>
  </li>
</ul>
{% endfor %}

<form>
  <button type="submit" formaction="/users/{{user.id}}/posts/new"
          formmethod="get">Add Post</button>
</form>

{% endblock %}